/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html{
    font-size: 62.5%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size: 1.1rem;
    background-color: rgb(213, 226, 236);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    /* display: block; */
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    
}
.btn{
    padding: .5em 1em;
    color: #fff;
    background-color: maroon;
    border: 1px solid maroon;
    border-radius: 8px;
    font-weight: 800;
    margin: 0 10px;
    cursor: pointer;
    transition: color 300ms, background-color 300ms, border 300ms;
}

button.btn:hover{
    background-color: #fff;
    color: maroon;
    border: 1px solid maroon;
}

h2,h2{
    font-weight: 700;
    color: blue;
    font-size: 1.5rem;

}

.calories{
    color: maroon;
}


.container{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}

.title{
    text-align: center;
    margin: 2em 0 0 0 ;
    /* border: 1px solid red; */
    font-size: 2.2rem;
    font-weight: 800;
}

.btn-container{
    text-align: center;
    margin: 1em auto;
    /* border: 2px solid green; */
    
}

.section-container{
    display: grid;
    grid-template-columns: minmax(200px,1fr);
    gap: 1em;
    padding: 1em;
}

.food-nationality{
    color: black;
}

.img-container{
    height: 170px;
    width: 100%;
    /* border: 4px solid orangered; */
    overflow: hidden;
}



@media screen and (min-width: 768px) {
    .container{
        width: 90vw;
    }

    .title{
        font-size: 3rem;
    }

    .section-container{
        grid-template-columns: 1fr 1fr;
        /* border: 1px solid blue; */
      
        

    }

    .recipe{
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* border: 1px solid red; */
        grid-template-rows: 250px;
        column-gap: 1.5em;
        /* overflow: hidden; */
    }

    .recipe-description{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;
    }

    
}